*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #ff8c69; }

body {
  font-size: 1.6rem; }

.site-title {
  text-transform: uppercase;
  font-size: 5rem; }
